@import "./variables";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.main_header{
    background-color:$grey;
}

.navbar-brand img{
    height: 7vh;
    width: 7vw;
}


.navbar-style{
    background-color: $pure;
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
   
    
}
.main_header_left {
    height: 30rem;
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}
.main_header_left p {
    font-size: 2rem;
}
.main_header_left h1 {
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .txt {
    color: #0097e6;
}
.main_header_left button {
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    background-color: $PRIMRY-HOVER;
    color: aliceblue;
}
.main_header_left button:hover{
    background-color: $primary;
    color: black;
}
.main_header_right {
    height: 30rem;
    display: flex;
    /* background-color: blue; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
   
}
.main_header_right figure img{
    box-shadow: 0 18px 6px -6px var(--main-color);
}


.productCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .productCard  button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .productCard  button:hover {
    opacity: 0.7;
  }
.order-container{
    display: flex;
    
    justify-content: center;
}
.order-sum{
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    h1{
        color: #0097e6;
        font-family: 'Courier New', Courier, monospace;
        font-size: 40px;
    }
}
.pizzalist{
    border: 3px solid black;
    background-color: rgb(243, 141, 73);
}
.pizza_order{
    margin: 10px;
    display: flex;
    
    
    padding: 20px;
    
    
    justify-content: center;
    align-items: center;
}
.list_items{
   margin-left: 60px;
}
.price{
    margin-left: 60px;
    font-weight: 200;
}
.priceRight{
    text-align: right;
    
}
.TotalRight{
    margin: auto;
    width: 50vw;
    height: 12vh;
    
}
// login
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
    // login

