
      <div class="table-div">

        <div class="alert alert-primary" role="alert">

          <span class="text-red-500 text-sm alert-dismissible"></span>

        </div>

        <div class="tableraj">

          <table class="table table-dark ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Order</th>
                <th scope="col">Customer</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
                <th scope="col">Placed AT</th>
              </tr>
            </thead>
            <tbody id="orderTableBody">



            </tbody>
          </table>
        </div>
      </div>

